<!doctype html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>

    <!-- Popper JS -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">    </script>

    <!-- Latest compiled JavaScript -->
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>

    <!-- GoldenLayout minified CSS -->
    <link type="text/css" rel="stylesheet"
        href="https://golden-layout.com/files/latest/css/goldenlayout-base.css" />

    <!-- GoldenLayout main JavaScript -->
    <script type="text/javascript"
        src="https://golden-layout.com/files/latest/js/goldenlayout.min.js"></script>

    <!-- GoldenLayout Dark Theme -->
    <link type="text/css" rel="stylesheet"
        href="https://golden-layout.com/files/latest/css/goldenlayout-dark-theme.css"/>

    {% block head %}{% endblock %}
</head>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">MagXLab</a>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('sample.add_sample') }}">Add</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sample.list_samples') }}">List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sample.psych') }}">Fake</a>
        </li>
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
