{% extends 'base.html' %}

{% block head %}
    <script>
        $(document).ready(function() {
            $("#some-button").click(function() {
                $("#some-div").toggle();
            });
            $("#add-file").click(function() {
                $.get("{{ url_for('sample.add_sample')}}", function(data,
                            status) {
                    $("#add-file").html(data);
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="gridster">
        <ul>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <header>|||</header>
            <button id="add-file">Add</button>
        </li>
        </ul>
    </div>
{% endblock %}
