{% extends 'headers.html' %}

{% block head %}
<style>
    label {
        color: white;
    }
</style>
<script>
    $(document).ready(function() {
        $("#upload_button").click(function() {
            var fd = new FormData();
            var files = $('#file')[0].files;
            fd.append('file', files[0]);

            $.ajax({
                url: "{{ url_for("sample.upload_sample") }}",
                type: "POST",
                data: fd,
                contentType: false,
                processData: false,
            })
                .done(function(data) {
                        $.get(data, function(resp, status) {
                                console.log(resp);
                                $("#upload_form").html("<h2>" + resp + "</h2>");})
                });
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="row h-100 justify-content-center align-items-center">
    <form method="post" action="" enctype="multipart/form-data" id="upload_form">
        <input type="file" id="file" name="file" style="color:white;">
        <input type="button" class="button" value="Upload" id="upload_button">
    </form>
</div>
{% endblock %}
